{% extends "layout.html.twig" %}

{% block meta_title %}{{ meta.title }} - {{ parent() }}{% endblock %}

{% block content %}
         <header class="page-header">
            <h1>{{ page.title }}</h1>
         </header>
         <article class="row">
            <div class="col-md-8">
            </div>
            <aside class="col-md-4">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">Projets</h3>
                  </div>
                  <div class="panel-body">
                     <ul class="nav nav-pills nav-stacked">
                        {% for project in projects %}
                        <li{% if project.id == current_project %} class="active"{% endif %}>
                           <a href="{{ path('project_list', {id: project.id}) }}">
                              <span class="badge pull-right">{{ project.tasks }}</span>
                              {{ project.name | e }}
                           </a>
                        </li>
                        {% else %}
                           Aucun projet
                        {% endfor %}
                     </ul>
                     <hr />
                     <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span></span>
                        <form id="add_project_form" method="post" action="{{ path('project_add') }}">
                           <input type="text" class="form-control" name="new_project" id="new_project" placeholder="Ajouter un projet">
                        </form>
                     </div>
                  </div>
               </div>
            </aside>
         </article>
{% endblock %}
